.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;

    // grid-template-columns: repeat(3, 1fr);
    // Using auto fit instead for columns to change on smaller viewports 
    // without media queries
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;

    // Fix feature grids with less text stretching h4 columns with default value
    align-items: start;

    @include respond(smaller) {
        margin: 7rem 0;
    }
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;

        // Spanning icon through both rows so fist row gets defined by h4 height
        grid-row: 1 / span 2;

        // Align icon with h4 rather than grid
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}